#images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 5vw;
}
#images button {
  position: absolute;
}
#images div {
  margin-bottom: 30px;
  position: relative;
  background-color: #f1f5f8;
  padding-bottom: 20px;
  box-shadow: 1px 1px 7px 1px rgb(204, 204, 204);
}
#images img {
  width: 100%;
  margin-bottom: 10px;
}
#images div .collection {
  right: 12px;
  top: 12px;
}
#images div .download {
  bottom: 20px;
  right: 12px;
  padding: 6px 6px 8px 8px;
}
#images div .like {
  right: 42px;
  top: 12px;
}
#images .logo {
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 50%;
  margin: 0 10px 10px 10px;
}
#images h3 {
  font-size: 17px;
}
#images p {
  font-size: 13.4px;
  margin-top: 2px;
}
#images button {
  font-size: 12px;
  padding: 6px 8px;
  color: #f1f5f8;
  background-color: #000;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
